@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,400&display=swap");

body {
  display: grid;
  place-items: center;
  font-family: "Nunito", sans-serif;
  background-color: #e8eaf6;
  color: #1a237e;
}

.short-url {
  margin: 20px;
}

.short-url a {
  color: #1a237e;
  text-decoration: none;
  font-size: 30px;
}

input[type="url"] {
  display: block;
  width: 40vw;
  height: 30px;
}

input[type="submit"] {
  /* width: 100px; */
  display: block;
  margin: 10px auto;
  background-color: #3f51b5;
  color: white;
  border: 0px;
  font-size: 15px;
  margin-top: 35px;
  border-radius: 2px;
  padding: 15px 18px;
  font-family: "Nunito", sans-serif;
}

p.error {
  color: #f44336;
}

.heading {
  font-size: 52px;
}
